.input {
  position: relative;
  width: 100%;
  max-width: 480px;
  margin: 1.6rem 0;

  &__icon {
    position: absolute;
    top: 50%;
    margin-top: -7px;
    left: 2.5em;
    margin-left: calc(-7px / 2);
    color: var(--Input);
  }

  &__field {
    color: var(--text);
    display: flex;
    width: 100%;
    background-color: var(--elements);
    border: none;
    border-radius: 0.5em;
    padding: 1.1rem 5em;
    box-shadow: 0px 2px 16px -5px rgba(0, 0, 0, 0.15);

    &::placeholder {
      font-size: 14px;
      font-family: "Nunito Sans", sans-serif;
      color: var(--Input);
    }
  }
}

@media (min-width: 1000px) {
  .input {
    margin: 0;
  }
}
